:root {
    --light_gray: #D3D3D3;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/pixels_square_shape_18461_225x300.jpg');
}

/* CSS for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light_gray);
    color: var(--white);
    padding: 10px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
}

.btn {
    background-color: var(--light_gray);
    color: #333;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.btn:hover {
    background-color: #ddd;
    color: black;
}

/* CSS for the message */
.message {
    margin: 4%;
    background-color: var(--white);
    text-align: left;
    font-size: 20px;
    line-height: 1.5;
    padding: 2% 5%;
    border: 1px solid var(--black);
    border-radius: 15px;
}

#answerQuestionMessage{
    font-size: larger;
    margin-top: 2em;
    text-align: center;
}
/* CSS for the lists */

.lists {
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin: 10px;
}

.list {
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 2em 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.list:hover {
    background-color: #ddd;
    color: black;
}

#disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#bold_text{
    color: red;
    font-size: 1.5em;
}

form {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5px 20px 20px 20px;
    margin: 0 auto;
    max-width: 500px;
}

.input{
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    width: 85%;
    font-size: 16px;
    color: #555555;
}

.input:focus {
    border-color: rgb(150, 150, 200);
    box-shadow: 0 0 5px #1e90ff;
}

button[type="submit"] {
    margin: 1.5em 0.5em;
    background-color: #1e90ff;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0066cc;
}

#center {
    text-align: center;
}

label {
    margin-left: 8%;
    display: inline-block;
    text-align: left;
    width: 100%;
}

#error{
    font-size: smaller;
    color: red;
}

.skip_text{
    color: green;
}

.leaderboard-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.leaderboard {
    margin: auto;
    width: 90%;
    border-collapse: collapse;
}

.th, .td {
    padding: 10px;
    border: 1px solid black;
}

.th {
    background-color: #ccc;
    font-weight: bold;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.material-icons{
    vertical-align: middle;
    color: black;
    font-size: 20em;
}

#preview_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview_wrapper video {
    width: 90%;
    height: auto;
}

#mapInfo {
    font-size: smaller;
    text-align: center;
    text-decoration: underline;
    margin-top: 3em;
}

#map {
    width: 90%;
    height: 300px;
    margin: 0 auto 30px auto;
}

.my-label {
    font-size: 12px; /* font size */
    padding: 4px 8px; /* padding */
    border-radius: 8px; /* rounded corners */
    opacity: 0.5; /* opacity */
    border: 2px solid #ffffff; /* white border */
}


#postScore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#postScore a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 130px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

#postScore a i {
    margin-right: 10px;
}

#postScore #twitter {
    background-color: #1DA1F2; /* Blue for Twitter */
}

#postScore #fb {
    background-color: #3B5998; /* Blue for Facebook */
}

#postScore a:hover {
    transform: scale(1.2);
}



