#t h1 {
    border-bottom: 1px solid black;
}

.testMessage tr {
    margin: 8px;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testMessage th {
    padding: 20px;
    vertical-align: top;
    background-clip: padding-box;
    alignment: center;
}

.testMessage td {
    border-top: 5px solid black;
    background-color: khaki;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    margin: auto;
}