/* Testing Page */
.style-div {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 30px;
    margin: 30px auto;
    max-width: 600px;
}

.style-heading {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.style-subheading {
    font-size: 24px;
    margin-bottom: 10px;
    color: #999;
}

.style-list {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}

.style-list li {
    margin-bottom: 10px;
}


#t h1 {
    border-bottom: 1px solid black;
}

.testMessage tr {
    margin: 8px;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testMessage th {
    padding: 20px;
    vertical-align: top;
    background-clip: padding-box;
    alignment: center;
}

.testMessage td {
    border-top: 5px solid black;
    background-color: khaki;
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    margin: auto;
}

.link_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.link_buttons:hover {
    background-color: #3e8e41;
}

.back_to_index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.back_to_index:hover {
    background-color: yellow;
    color: black;
}


.table-style {
    border-collapse: collapse;
    width: 100%;
}

.table-style tr,
.table-style td {
    padding: 20px;
    text-align: center;
    vertical-align: top;
    border: 2px solid black;
}

.table-style th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-style tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}



/* Test-Leaderboard */
table { width: 100%; border: 1px solid blue; }
th, td { border-bottom: 1px solid gray;
    text-align: left; }


/* Test-question */
#buttons {
    text-align: center;
}
#message {
    text-align: center;
}
#treasureHunts {
    text-align: center;
}

.link-font {
    font-size: medium;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    font-weight: bold;
}

td:last-child {
    font-style: italic;
}

@media screen and (max-width: 767px) {
    table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .th, .td {
        padding: 5px;
        font-size: 14px;
    }
}
